.col-centered{
  float: none;
  margin: 0 auto;
}
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.jumbotron {
  margin-bottom:0rem !important;
}
.p-2 {
  padding: .0rem!important;
}
ul {
  padding: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  list-style-type: none;
  font-weight: bold;
}
.pageContent {
  text-align:left;
  display: flex;
  flex-direction: column ;
  width: 100%;
}
.logoImg {
  height: 152px;
  width: 250px;
  padding-bottom: 15px;
}
.carouselCaption {
  background-color: grey;
  border-radius: 25px;
  opacity: .8;
}
.carousel {
  height: auto;
  width: 100%;
}
.addressList,.servicesList {
  padding-top:25px;
  padding-bottom:25px;
}
a:link,a:visited { 
  text-decoration: none; 
  color: black;
}
.emphText {
  padding-right: 10px;
  font-weight: bold;
}
.exerpt {
  font-style: italic;
}
.contentDiv {
  padding-top:25px;
}
.smallTitle {
  padding-left: 15px;
}
.lisenceModal {
  text-decoration: underline;
  color:#dc3545;
  padding-bottom:50px;
}
ul.cardList {
  padding:25px;
  text-align: left;
}
.cardList {
  text-align: left;
  padding-bottom: 25px;
  padding-top: 25px;
}
.cardList2 {
  padding-top:25px;
}
.bbText {
  font-weight: bold;
}
.redText {
  color:#dc3545;
  font-weight:bold;
  font-size: 12pt ;
  padding: 10px;
}
.cardText {
  font-size: 12pt;
}
.modalDiv,.modalDivFlag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modalDiv img {
  height: 337px;
  width: 295px;
}
.modalDiv img,.modalDivFlag img {
  padding-top: 15px;
  padding-bottom: 15px;
}
.blurb {
  display:flex;
  justify-content: left;
  text-align: left;
  font-size: 16pt;
  padding-bottom:25px;
}
.blurbCard {
  display:flex;
  justify-content: center;
  text-align: left;
  font-size: 16pt;
  padding: 25px;
}
.budgetCard {
  display:flex;
  text-align: left;
  font-size: 16pt;
  justify-content: center;
  font-size: 16pt;
  padding: 25px;
}
.buttonPadding {
  padding-top:25px;
}
#logoImgModal {
  height: 80px;
  width: 125px;
}
#logoImgLic {
  height: 100px;
  width: 125px;
}
.mapComponent {
  width: 300px !important;
  height: 300px !important;
}
.largeNav {
  display:none;
}
modal-backdrop { background-color: red; }
@media only screen and (min-width: 768px) {
.logoImg {
    width: 500px;
    height: 304px;
  }
  .carousel {
    height: auto;
    width: 75%;
  }
  .mapComponent {
    width: 100% !important;
    height: 200px !important;
  }
  .mobileNav {
    display:none;
  }
  .largeNav {
    display:inline;
  }
  .modalDiv img {
    height: 720px;
    width: 600px;
  }
}